<h2>Edit <%= @session.name %></h2>
<form method="POST" action="/sessions/<%= @session.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" value="name" value="<%= @session.name %>"/>
    </div>

    <div class="form-el">
      <label for="time">Time:</label>
      <input type="time" name="time" id="time" value="<%= @session.time %>"/>
    </div>

    <label>
       Select a name:
      <select name="human_id">
        <% for human in @humans %>
        <option value="<%= human.id %>"><%= human.first_name %></option>
        <% end %>
      </select>
    </label>

    <input type="submit" value="save changes">
  </div>

</form>
